:root{
  --theme_color: orange;
}

[data-theme = "orange"]{
  --theme_color: orange;
}

[data-theme = "skyblue"]{
  --theme_color: skyblue;
}

[data-theme = "violet"]{
  --theme_color: violet;
}

[data-theme = "lightgreen"]{
  --theme_color: lightgreen;
}

[data-theme = "hotpink"]{
  --theme_color: hotpink;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
